In [2]:
import pandas as pd

### Declare Dataset

In [5]:
df = pd.read_csv("F:/Portofolio/Olist-Ml/dataset/raw/mart_sales_performance.csv")

In [8]:
df.head()

,product_category_name,seller_id,seller_state,seller_city,week_start,total_orders,total_items,total_sales,avg_order_value
0,moveis_decoracao,1554a68530182680ad5c8b042c3ab563,MG,monte siao,2016-08-29 00:00:00.000,1,2,136.23,68.115
1,telefonia,a425f92c199eb576938df686728acd20,PR,curitiba,2016-09-05 00:00:00.000,1,1,75.06,75.060
2,beleza_saude,ecccfa2bb93b34a3bf033cc5d1dcdc69,PR,curitiba,2016-09-12 00:00:00.000,1,3,143.46,47.820
3,bebes,25e6ffe976bd75618accfe16cefcbd0d,SP,sao paulo,2016-09-26 00:00:00.000,1,1,109.34,109.340
4,livros_tecnicos,4be2e7f96b4fd749d52dff41f80e39dd,AC,rio branco,2016-10-03 00:00:00.000,1,1,299.84,299.840

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45733 entries, 0 to 45732
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   product_category_name  45733 non-null  object
 1   seller_id              45733 non-null  object
 2   seller_state           45733 non-null  object
 3   seller_city            45733 non-null  object
 4   week_start             45733 non-null  object
 5   total_orders           45733 non-null  int64
 6   total_items            45733 non-null  int64
 7   total_sales            45733 non-null  float64
 8   avg_order_value        45733 non-null  float64
dtypes: float64(2), int64(2), object(5)
memory usage: 3.1+ MB

### Preprocessing Stage