In [273]:
import pandas as pd
import numpy as np

### Declare Dataset

In [274]:
df = pd.read_csv("F:/Portofolio/Olist-Ml/dataset/raw/mart_sales_performance.csv")

In [275]:
df.head(10)

,product_category_name,seller_id,seller_state,seller_city,week_start,total_orders,total_items,total_sales,avg_order_value
0,moveis_decoracao,1554a68530182680ad5c8b042c3ab563,MG,monte siao,2016-08-29 00:00:00.000,1,2,136.23,68.115
1,telefonia,a425f92c199eb576938df686728acd20,PR,curitiba,2016-09-05 00:00:00.000,1,1,75.06,75.060
2,beleza_saude,ecccfa2bb93b34a3bf033cc5d1dcdc69,PR,curitiba,2016-09-12 00:00:00.000,1,3,143.46,47.820
3,bebes,25e6ffe976bd75618accfe16cefcbd0d,SP,sao paulo,2016-09-26 00:00:00.000,1,1,109.34,109.340
4,livros_tecnicos,4be2e7f96b4fd749d52dff41f80e39dd,AC,rio branco,2016-10-03 00:00:00.000,1,1,299.84,299.840
5,informatica_acessorios,d03698c2efd04a549382afa6623e27fb,BA,ilheus,2016-10-03 00:00:00.000,1,1,176.85,176.850
6,cool_stuff,cf281cf8b7affbdfe751b29cc85580e1,CE,eusebio,2016-10-03 00:00:00.000,1,1,90.23,90.230
7,cool_stuff,c9a06ece156bb057372c68718ec8909b,DF,brasilia,2016-10-03 00:00:00.000,1,1,63.72,63.720
8,ferramentas_jardim,c9a06ece156bb057372c68718ec8909b,DF,brasilia,2016-10-03 00:00:00.000,1,1,419.06,419.060
9,market_place,c9a06ece156bb057372c68718ec8909b,DF,brasilia,2016-10-03 00:00:00.000,1,1,98.55,98.550

In [276]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45733 entries, 0 to 45732
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   product_category_name  45733 non-null  object
 1   seller_id              45733 non-null  object
 2   seller_state           45733 non-null  object
 3   seller_city            45733 non-null  object
 4   week_start             45733 non-null  object
 5   total_orders           45733 non-null  int64
 6   total_items            45733 non-null  int64
 7   total_sales            45733 non-null  float64
 8   avg_order_value        45733 non-null  float64
dtypes: float64(2), int64(2), object(5)
memory usage: 3.1+ MB

### Preprocessing Stage

#### Selected Features

In [277]:
selected_features = df.drop(columns=['seller_city', 'total_orders'
                                    ,'total_items', 'avg_order_value'])

In [278]:
selected_features.head(5)

,product_category_name,seller_id,seller_state,week_start,total_sales
0,moveis_decoracao,1554a68530182680ad5c8b042c3ab563,MG,2016-08-29 00:00:00.000,136.23
1,telefonia,a425f92c199eb576938df686728acd20,PR,2016-09-05 00:00:00.000,75.06
2,beleza_saude,ecccfa2bb93b34a3bf033cc5d1dcdc69,PR,2016-09-12 00:00:00.000,143.46
3,bebes,25e6ffe976bd75618accfe16cefcbd0d,SP,2016-09-26 00:00:00.000,109.34
4,livros_tecnicos,4be2e7f96b4fd749d52dff41f80e39dd,AC,2016-10-03 00:00:00.000,299.84

#### Switching Dtype

In [279]:
selected_features["week_start"] = pd.to_datetime(selected_features["week_start"])

In [280]:
print(selected_features['week_start'])

0       2016-08-29
1       2016-09-05
2       2016-09-12
3       2016-09-26
4       2016-10-03
           ...
45728   2018-08-27
45729   2018-08-27
45730   2018-08-27
45731   2018-08-27
45732   2018-09-03
Name: week_start, Length: 45733, dtype: datetime64[ns]

#### Duplicated Data

In [281]:
selected_features.duplicated().sum()

0

In [282]:
selected_features = selected_features.drop_duplicates()

In [283]:
selected_features.duplicated().sum()

0

#### NULL Data

In [284]:
df.isnull().sum()

product_category_name    0
seller_id                0
seller_state             0
seller_city              0
week_start               0
total_orders             0
total_items              0
total_sales              0
avg_order_value          0
dtype: int64

#### Data Consistency Check

In [285]:
for col in ["product_category_name"]:
    print(col, ":", selected_features[col].unique())

product_category_name : ['moveis_decoracao' 'telefonia' 'beleza_saude' 'bebes' 'livros_tecnicos'
 'informatica_acessorios' 'cool_stuff' 'ferramentas_jardim' 'market_place'
 'cama_mesa_banho' 'climatizacao' 'telefonia_fixa' 'automotivo'
 'brinquedos' 'fashion_bolsas_e_acessorios' 'utilidades_domesticas'
 'consoles_games' 'relogios_presentes' 'esporte_lazer'
 'livros_interesse_geral' 'perfumaria' 'pet_shop' 'eletronicos' 'Unknown'
 'moveis_escritorio' 'fashion_calcados' 'audio' 'fashion_roupa_feminina'
 'fashion_roupa_masculina' 'fraldas_higiene'
 'industria_comercio_e_negocios' 'alimentos' 'moveis_quarto' 'musica'
 'papelaria' 'eletroportateis' 'eletrodomesticos_2'
 'fashion_underwear_e_moda_praia' 'malas_acessorios' 'moveis_sala'
 'moveis_cozinha_area_de_servico_jantar_e_jardim' 'instrumentos_musicais'
 'casa_conforto_2' 'seguros_e_servicos' 'agro_industria_e_comercio'
 'dvds_blu_ray' 'pcs' 'casa_conforto' 'construcao_ferramentas_construcao'
 'tablets_impressao_imagem' 'construcao_ferramentas_jardim'
 'casa_construcao' 'eletrodomesticos' 'construcao_ferramentas_seguranca'
 'cine_foto' 'livros_importados' 'bebidas' 'artes' 'alimentos_bebidas'
 'fashion_esporte' 'sinalizacao_e_seguranca' 'la_cuisine'
 'construcao_ferramentas_ferramentas' 'pc_gamer'
 'moveis_colchao_e_estofado' 'artigos_de_natal' 'artes_e_artesanato'
 'fashion_roupa_infanto_juvenil' 'portateis_casa_forno_e_cafe'
 'cds_dvds_musicais' 'artigos_de_festas'
 'construcao_ferramentas_iluminacao' 'flores'
 'portateis_cozinha_e_preparadores_de_alimentos']

In [286]:
for col in ["seller_state"]:
    print(col, ":", selected_features[col].unique())

seller_state : ['MG' 'PR' 'SP' 'AC' 'BA' 'CE' 'DF' 'ES' 'MS' 'RJ' 'RS' 'SC' 'PE' 'AM'
 'GO' 'PB' 'SE' 'RN' 'RO' 'MT' 'PA' 'PI' 'MA']

#### Mapping Dictionary

In [287]:
category_mapping = {
    'moveis_decoracao': 'furnitur_dekorasi',
    'telefonia': 'telepon_seluler',
    'beleza_saude': 'kecantikan_kesehatan',
    'bebes': 'produk_bayi',
    'informatica_acessorios': 'aksesoris_komputer',
    'utilidades_domesticas': 'peralatan_rumah_tangga',
    'esporte_lazer': 'olahraga_hobi',
    'livros_tecnicos': 'buku_teknis',
    'livros_interesse_geral': 'buku_umum',
    'pet_shop': 'produk_hewan',
    'perfumaria': 'parfum',
    'relogios_presentes': 'jam_hadiah',
    'consoles_games': 'game_console',
    'fashion_bolsas_e_acessorios': 'tas_aksesoris',
    'fashion_roupa_feminina': 'pakaian_wanita',
    'fashion_roupa_masculina': 'pakaian_pria',
    'fashion_roupa_infanto_juvenil': 'pakaian_anak',
    'fashion_calcados': 'sepatu',
    'fashion_underwear_e_moda_praia': 'pakaian_dalam_pantai',
    'alimentos': 'makanan',
    'bebidas': 'minuman',
    'artigos_de_festas': 'perlengkapan_pesta',
    'moveis_quarto': 'furnitur_kamar',
    'moveis_sala': 'furnitur_ruang_tamu',
    'moveis_escritorio': 'furnitur_kantor',
    'moveis_cozinha_area_de_servico_jantar_e_jardim': 'furnitur_dapur_jardim',
    'pcs': 'komputer',
    'audio': 'perangkat_audio',
    'cine_foto': 'kamera_fotografi',
    'brinquedos': 'mainan',
    'papelaria': 'alat_tulis',
    'eletroportateis': 'elektronik_portabel',
    'eletrodomesticos': 'elektronik_rumah_tangga',
    'eletronicos': 'elektronik_umum',
    'pc_gamer': 'komputer_gaming',
    'climatizacao': 'pendingin_ruangan',
    'malas_acessorios': 'koper_aksesoris',
    'instrumentos_musicais': 'alat_musik',
    'flores': 'bunga',
    'artes': 'seni',
    'artes_e_artesanato': 'seni_kerajinan',
    'cds_dvds_musicais': 'cd_dvd_musik',
    'dvds_blu_ray': 'dvd_blu_ray',
    'market_place': 'marketplace',
    'Unknown': 'tidak_diketahui'
}

# Replace data sebelumnya dengan yang sudah dimapping
selected_features['product_category_name'] = selected_features['product_category_name'].replace(category_mapping)

In [288]:
state_mapping = {
    "AC": "Acre",
    "AL": "Alagoas",
    "AP": "Amapá",
    "AM": "Amazonas",
    "BA": "Bahia",
    "CE": "Ceará",
    "DF": "Distrito Federal",
    "ES": "Espírito Santo",
    "GO": "Goiás",
    "MA": "Maranhão",
    "MT": "Mato Grosso",
    "MS": "Mato Grosso do Sul",
    "MG": "Minas Gerais",
    "PA": "Pará",
    "PB": "Paraíba",
    "PR": "Paraná",
    "PE": "Pernambuco",
    "PI": "Piauí",
    "RJ": "Rio de Janeiro",
    "RN": "Rio Grande do Norte",
    "RS": "Rio Grande do Sul",
    "RO": "Rondônia",
    "RR": "Roraima",
    "SC": "Santa Catarina",
    "SP": "São Paulo",
    "SE": "Sergipe",
    "TO": "Tocantins"
}

# Mengganti kode dengan yang lebih spesifik
selected_features["seller_state"] = selected_features["seller_state"].map(state_mapping)

In [289]:
selected_features.sample(5)

,product_category_name,seller_id,seller_state,week_start,total_sales
24408,automotivo,6806dad1da97bfb5a9038eac6881f706,Paraná,2018-02-05,215.15
26036,ferramentas_jardim,acadd4d36859671cb635527c6c977533,São Paulo,2018-02-19,313.14
41618,peralatan_rumah_tangga,fffd5413c0700ac820c7069d66d98c89,São Paulo,2018-07-23,130.61
11276,aksesoris_komputer,85d9eb9ddc5d00ca9336a2219c97bb13,Minas Gerais,2017-08-28,629.68
43396,produk_hewan,6c6cc59a5c00cacc5054ca06d65cc282,Rio Grande do Sul,2018-08-06,1255.71

#### Aggeragate Data

In [290]:
aggregated_features = selected_features.groupby(['week_start', 'seller_state', 'product_category_name']).agg(
    total_sales=('total_sales', 'sum')
).reset_index()

aggregated_features.head(5)

  week_start  seller_state product_category_name  total_sales
0 2016-08-29  Minas Gerais     furnitur_dekorasi       136.23
1 2016-09-05        Paraná       telepon_seluler        75.06
2 2016-09-12        Paraná  kecantikan_kesehatan       143.46
3 2016-09-26     São Paulo           produk_bayi       109.34
4 2016-10-03          Acre           buku_teknis       299.84

#### Feature Engineering

##### Time-Based Features

In [291]:
aggregated_features['year']     = aggregated_features['week_start'].dt.year
aggregated_features['month']     = aggregated_features['week_start'].dt.month
aggregated_features['week'] = aggregated_features['week_start'].dt.isocalendar().week

In [292]:
aggregated_features.head(10)

,week_start,seller_state,product_category_name,total_sales,year,month,week
0,2016-08-29,Minas Gerais,furnitur_dekorasi,136.23,2016,8,35
1,2016-09-05,Paraná,telepon_seluler,75.06,2016,9,36
2,2016-09-12,Paraná,kecantikan_kesehatan,143.46,2016,9,37
3,2016-09-26,São Paulo,produk_bayi,109.34,2016,9,39
4,2016-10-03,Acre,buku_teknis,299.84,2016,10,40
5,2016-10-03,Bahia,aksesoris_komputer,176.85,2016,10,40
6,2016-10-03,Ceará,cool_stuff,90.23,2016,10,40
7,2016-10-03,Distrito Federal,cool_stuff,63.72,2016,10,40
8,2016-10-03,Distrito Federal,ferramentas_jardim,419.06,2016,10,40
9,2016-10-03,Distrito Federal,marketplace,98.55,2016,10,40

Tujuan (Ini untuk apa?)

Tujuannya adalah agar model bisa mempelajari **pola musiman (seasonality)** dan **tren jangka panjang (trend)**.

Detail Fitur
- **tahun**  
  Membantu model memahami apakah penjualan secara umum naik atau turun dari tahun ke tahun (**tren**).

- **bulan**  
  Membantu model mengenali pola yang berulang setiap tahun.  
  Contoh: penjualan selalu memuncak di **Desember (liburan)** dan melambat di **Februari**.

- **minggu_ke**  
  Menangkap pola yang lebih detail dalam setahun, misalnya lonjakan penjualan saat **minggu gajian** atau ketika ada **event tertentu**.

Kenapa Penting?
Tanpa fitur-fitur ini, model hanya melihat `week_start` sebagai kumpulan tanggal mentah, tanpa konteks **"awal bulan"** atau **"akhir tahun"**.

##### Lag Features

In [293]:
# Membuat fitur lag
aggregated_features['sales_lag_1'] = (
    aggregated_features
    .groupby(['seller_state', 'product_category_name'])['total_sales']
    .shift(1)
)

aggregated_features['sales_lag_4'] = (
    aggregated_features
    .groupby(['seller_state', 'product_category_name'])['total_sales']
    .shift(4)
)

# Membuat rolling mean (rata-rata bergerak)
# Rolling 3 minggu terakhir
aggregated_features['sales_roll_mean_3'] = (
    aggregated_features
    .groupby(['seller_state', 'product_category_name'])['total_sales']
    .transform(lambda x: x.shift(1).rolling(window=3, min_periods=1).mean())
)

# Rolling 4 minggu terakhir
aggregated_features['sales_roll_mean_4'] = (
    aggregated_features
    .groupby(['seller_state', 'product_category_name'])['total_sales']
    .transform(lambda x: x.shift(1).rolling(window=4, min_periods=1).mean())
)

Fitur Lag dan Rolling Mean

Tujuannya adalah agar model bisa melihat **riwayat penjualan sebelumnya** (lag) dan **tren rata-rata penjualan dalam jangka pendek** (rolling mean).  
Dengan fitur ini, model tidak hanya tahu "berapa penjualan minggu ini", tapi juga konteks **sebelum-sebelumnya**.

Detail Fitur

- **sales_lag_1**  
  Nilai `total_sales` dari **1 minggu sebelumnya**.  
  → Membantu model mengetahui apakah penjualan minggu ini cenderung mengikuti pola minggu lalu.  
  Contoh: kalau minggu lalu tinggi, biasanya minggu ini juga tinggi.

- **sales_lag_4**  
  Nilai `total_sales` dari **4 minggu sebelumnya (1 bulan)**.  
  → Berguna untuk mendeteksi pola **bulanan/seasonal**.  
  Contoh: penjualan perabot rumah tangga naik setiap awal bulan (gajian).

- **sales_roll_mean_3**  
  Rata-rata penjualan dari **3 minggu terakhir** (dihitung mundur).  
  → Membantu model memahami tren jangka pendek, misalnya apakah penjualan **sedang naik stabil** atau **menurun perlahan**.

- **sales_roll_mean_4**  
  Rata-rata penjualan dari **4 minggu terakhir (1 bulan)**.  
  → Menangkap tren jangka menengah.  
  Contoh: ada promosi selama sebulan penuh, sehingga tren rata-rata meningkat.

Tanpa fitur lag dan rolling, model hanya melihat nilai `total_sales` sekarang tanpa tahu **apa yang terjadi sebelumnya**.  
Padahal, **time series** sangat bergantung pada pola historis.  

- **Lag** = seperti "memori jangka pendek", memberi tahu model nilai sebelumnya.  
- **Rolling mean** = seperti "gambaran tren", memberi tahu model apakah kondisi stabil, naik, atau turun.  

Dengan kombinasi ini, model bisa belajar:
- Apakah penjualan minggu ini mirip minggu lalu?  
- Apakah ada siklus bulanan?  
- Apakah penjualan sedang naik/turun dalam beberapa minggu terakhir?

In [294]:
aggregated_features.head(10)

,week_start,seller_state,product_category_name,total_sales,year,month,week,sales_lag_1,sales_lag_4,sales_roll_mean_3,sales_roll_mean_4
0,2016-08-29,Minas Gerais,furnitur_dekorasi,136.23,2016,8,35,NaN,NaN,NaN,NaN
1,2016-09-05,Paraná,telepon_seluler,75.06,2016,9,36,NaN,NaN,NaN,NaN
2,2016-09-12,Paraná,kecantikan_kesehatan,143.46,2016,9,37,NaN,NaN,NaN,NaN
3,2016-09-26,São Paulo,produk_bayi,109.34,2016,9,39,NaN,NaN,NaN,NaN
4,2016-10-03,Acre,buku_teknis,299.84,2016,10,40,NaN,NaN,NaN,NaN
5,2016-10-03,Bahia,aksesoris_komputer,176.85,2016,10,40,NaN,NaN,NaN,NaN
6,2016-10-03,Ceará,cool_stuff,90.23,2016,10,40,NaN,NaN,NaN,NaN
7,2016-10-03,Distrito Federal,cool_stuff,63.72,2016,10,40,NaN,NaN,NaN,NaN
8,2016-10-03,Distrito Federal,ferramentas_jardim,419.06,2016,10,40,NaN,NaN,NaN,NaN
9,2016-10-03,Distrito Federal,marketplace,98.55,2016,10,40,NaN,NaN,NaN,NaN

##### Handling Missing Value (NaN) After implemnet lag & rolling feature

In [295]:
print(aggregated_features.isna().sum())

week_start                  0
seller_state                0
product_category_name       0
total_sales                 0
year                        0
month                       0
week                        0
sales_lag_1               513
sales_lag_4              1722
sales_roll_mean_3         513
sales_roll_mean_4         513
dtype: int64

In [296]:
aggregated_features = aggregated_features.fillna(0)

In [297]:
aggregated_features.isna().sum()

week_start               0
seller_state             0
product_category_name    0
total_sales              0
year                     0
month                    0
week                     0
sales_lag_1              0
sales_lag_4              0
sales_roll_mean_3        0
sales_roll_mean_4        0
dtype: int64

In [298]:
aggregated_features.head()

,week_start,seller_state,product_category_name,total_sales,year,month,week,sales_lag_1,sales_lag_4,sales_roll_mean_3,sales_roll_mean_4
0,2016-08-29,Minas Gerais,furnitur_dekorasi,136.23,2016,8,35,0.0,0.0,0.0,0.0
1,2016-09-05,Paraná,telepon_seluler,75.06,2016,9,36,0.0,0.0,0.0,0.0
2,2016-09-12,Paraná,kecantikan_kesehatan,143.46,2016,9,37,0.0,0.0,0.0,0.0
3,2016-09-26,São Paulo,produk_bayi,109.34,2016,9,39,0.0,0.0,0.0,0.0
4,2016-10-03,Acre,buku_teknis,299.84,2016,10,40,0.0,0.0,0.0,0.0

#### Encoding

In [299]:
aggregated_features.shape

(12776, 11)

In [300]:
# Cek jumlah kategori unik
print("Seller State:", aggregated_features['seller_state'].nunique())
print("Product Category:", aggregated_features['product_category_name'].nunique())

Seller State: 23
Product Category: 74

In [301]:
aggregated_features.columns

Index(['week_start', 'seller_state', 'product_category_name', 'total_sales',
       'year', 'month', 'week', 'sales_lag_1', 'sales_lag_4',
       'sales_roll_mean_3', 'sales_roll_mean_4'],
      dtype='object')

In [302]:
# Simpan index tanggal dulu biar aman
aggregated_features['week_start'] = pd.to_datetime(aggregated_features['week_start'])

# One Hot Encoding
df_encoded = pd.get_dummies(
    aggregated_features,
    columns=['seller_state', 'product_category_name'],
    drop_first=True
)

print("Shape setelah OHE:", df_encoded.shape)
df_encoded.head()

Shape setelah OHE: (12776, 104)

,week_start,total_sales,year,month,week,sales_lag_1,sales_lag_4,sales_roll_mean_3,sales_roll_mean_4,seller_state_Amazonas,...,product_category_name_seguros_e_servicos,product_category_name_seni,product_category_name_seni_kerajinan,product_category_name_sepatu,product_category_name_sinalizacao_e_seguranca,product_category_name_tablets_impressao_imagem,product_category_name_tas_aksesoris,product_category_name_telefonia_fixa,product_category_name_telepon_seluler,product_category_name_tidak_diketahui
0,2016-08-29,136.23,2016,8,35,0.0,0.0,0.0,0.0,False,...,False,False,False,False,False,False,False,False,False,False
1,2016-09-05,75.06,2016,9,36,0.0,0.0,0.0,0.0,False,...,False,False,False,False,False,False,False,False,True,False
2,2016-09-12,143.46,2016,9,37,0.0,0.0,0.0,0.0,False,...,False,False,False,False,False,False,False,False,False,False
3,2016-09-26,109.34,2016,9,39,0.0,0.0,0.0,0.0,False,...,False,False,False,False,False,False,False,False,False,False
4,2016-10-03,299.84,2016,10,40,0.0,0.0,0.0,0.0,False,...,False,False,False,False,False,False,False,False,False,False

In [308]:
df_encoded = df_encoded.astype('int64')

In [309]:
X = df_encoded.drop(columns=['week_start', 'total_sales'])
y = df_encoded['total_sales']

In [312]:
# Split train-test berdasarkan waktu
train = df_encoded[df_encoded['year'] < 2018]
test = df_encoded[df_encoded['year'] == 2018]

# Pisahkan fitur (X) dan target (y)
X_train = train.drop(columns=['week_start', 'total_sales'])
y_train = train['total_sales']

X_test = test.drop(columns=['week_start', 'total_sales'])
y_test = test['total_sales']

print("Train shape:", X_train.shape, y_train.shape)
print("Test shape:", X_test.shape, y_test.shape)

Train shape: (6655, 102) (6655,)
Test shape: (6121, 102) (6121,)